

.center {
    float: center;
}

.jewels {
    padding: 25px;
}

.whole {
    margin-top: 25px;
}

body {
    background-image: url("../images/fancy-cushion.png");
}

.container {
    background-color: white;
}

.topmargin {
    margin-top: 10px;
}

.clearfix {
    overflow: auto;
  }
